* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  background-color: white;
  height: 100% !important;
}

/************************************/
/* navbar */
/************************************/
.navbar {
  max-width: 100%;
  background-color: white;
  padding: 1%;
}

strong {
  font-size: 30px;
  text-emphasis: none;
}

.navbar a {
  color: black;
}

.navbar-dropdown {
  background-color: white;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top: 2px solid #dbdbdb;
  box-shadow: 0 8px 8px rgba(10, 10, 10, 0.1);
  display: none;
  font-size: 0.875rem;
  /* left: 0; */
  left: -70px;
  min-width: 100%;
  position: absolute;
  top: 100%;
  z-index: 20;
}

.container {
  max-width: 960px;
  max-width: 100%;
}

.display-4 {
  font-family: "Oswald", sans-serif;
  color: rgb(26, 26, 26);
  font-family: "Ruda", Sans-Serif;
  font-size: 48px;
}

/************************************/
/* Banner Section*/
/************************************/
.banner-title {
  font-size: 100px;
  letter-spacing: 5px;
  text-align: center;
}

.display-4 {
  font-family: "Ruda", Sans-Serif;
  font-size: 48px;
  color: white;
}

.about-banner {
  background-image: url("../images/about-banner-img.jpg");
  width: 100%;
  background-size: 100% auto;
}

.banner-title {
  font-size: 100px;
  letter-spacing: 5px;
}

.m-md-3 {
  margin: 0rem !important;
}

/************************************/
/* About  
    Section */
/************************************/
.about-container {
  background-color: white;
}

.display-5 {
  font-size: 40px;
  letter-spacing: 5px;
  color: black;
  padding-bottom: 1em;
  clear: both;
  display: inline-block;
  /* overflow: hidden; */
  white-space: nowrap;
}

.title {
  font-family: "Roboto", Sans-Serif;
  font-size: 35px;
  padding-bottom: 0px;
}

.lead {
  font-size: 20px;
  color: gray;
  line-height: 2em;
  font-family: "Roboto Slab", Serif;
}

.img-right {
  background-image: url("../images/about-img-right.jpg");
  width: 100%;
  background-size: 100% auto;
}

.image.is-2by1 {
  padding-top: 100%;
}

/*
    
sizing devices 

*/

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}

.columns {
  margin-left: 0rem;
  margin-right: -0.75rem;
  margin-top: -0.75rem;
}

/*
   


* Extra utilities



 */

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}

.overflow-hidden {
  overflow: hidden;
}

/*
   


* Load in animation



 */

@keyframes slideInFromRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-container {
  animation: 1s ease-out 0s 1 slideInFromRight;
}
