* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    background-color: black;
    height: 100% !important;    
}

body {
    text-align: center;
}

/************************************/
/* navbar */
/************************************/
.navbar {
    max-width: 100%;
    background-color: black;
    padding: 1%;
}

strong {
    font-size: 30px;
}

.navbar a {
    color: white;
}

.navbar-dropdown {
    background-color: black;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top: 2px solid #dbdbdb;
    box-shadow: 0 8px 8px rgba(10,10,10,.1);
    display: none;
    font-size: .875rem;
    left: 0;
    min-width: 100%;
    position: absolute;
    top: 100%;
    z-index: 20;
}

/************************************/
/* cover */
/************************************/
.hero.is-primary.is-medium {
    margin-top: 1%;
    height: 70vh;
    max-width: 100%;
    background-image: url(../images/pexels-washarapol-d-binyo-jundang-2731667.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

.box {
    border-radius: 0%;
}

/************************************/
/* Discover */
/************************************/
#discover,
#blog {
    color: white;
    font-size: 40px;
    padding: 5%;
}

.tile.is-ancestor {
    max-width: 100%;
    text-align: center;
    padding: 4%;
    padding-bottom: 0%;
}

.title {
    text-align: center;  
    color: white;
    font-size: 40px;
}

#about,
#benefits {
    padding: 10%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;    
    color: white;
}

#about small,
#benefits small,
#about a,
#benefits a {
    font-size: 20px;
}

#about {
    background-image: url(../images/team-natalie-pedigo-unsplash.jpg);
}

#benefits {
    background-image: url(../images/grav-v_U8vO8iFyY-unsplash.jpg);
}

.columns.is-variable.is-1-mobile.is-0-tablet.is-3-desktop.is-8-widescreen.is-2-fullhd {
    padding: 5%;
    padding-top: 0%;
}

.card {
    border-radius: 0%;
    height: 60vh;
}

.card-img-top {
    height: 26vh;
}

.card-text {
    padding: 4%;
}

h5 {
    padding-bottom: 4%;
}