* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-image: url(../images/rick-proctor-green-leaves-unsplash.jpg) !important;
    background-size: cover;
    background-repeat: no-repeat !important;
    background-position: top !important;
    height: 100vh;   
}

body {
    margin: 0;
    display: flex;
    text-align:center;
    align-items: center;
    justify-content: center
}

/***************************/
/***************************/
.hide {
    display: none;
}

/***************************/
/*           FORMS */
/***************************/
#of-age-form,
#sign-up-form,
#log-in-form {
    background-color: black;
    width: 400px;
    padding: 2%;
    margin: 3%;
    margin-top: 25%;
    transform: translate(0, -30%);
}

h1,
#terms,
.grouped,
.checkbox {
    padding: 3%;
    color: white;
}

.control {
    box-sizing: border-box;
    clear: both;
    font-size: 1rem;
    position: relative;
    text-align: inherit;
}

.label {
    padding-top: 1%;
    color: white;
}

#terms span:hover {
    opacity: 1;
    color: white;
    cursor: auto;
}


.button.is-link {
    padding: 2%;
    margin: 2%;
}

.button.is-link a {
    color: white;
}